*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    font-family:'Poppins', sans-serif;
    max-width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    background-color: #f8f8f8;
    overflow-x: hidden;
    position: relative;
    /*background-image: url('../image/personal/business_personal_main_bg_d.webp');
    background-position: center;
    background-sie: cover;
    background-repeat: no-repeat;*/
}

/************************************/
/******* NAVIGATION SECTION *********/
/************************************/
header{
    background: transparent;
    padding: 1.7rem 1.4rem 2rem 14rem;
    max-width: 127rem;
    margin: auto;
    position: absolute;
    z-index: 9999;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-img img{
    padding-top: 2rem;
    width: 14rem;
}

.links{
    display: flex;
    align-items: center;
    gap: 4.8rem;
}


.nav-links{
    display: flex;
    gap: 6rem;
}

.nav-link{
    color: #0993dc;
    text-decoration: none;
    font-size: 1.3rem;
    cursor: pointer;
}

.pers-blue{
    color: #fff;
}

.nav-btn{
    background-color: #0ba830;
    border-radius: 5px;
    border: none;
    padding: 1rem 2.8rem 1rem 1.5rem;
    display: flex;
    align-items: center;
    gap: 1.7rem;
    color: #fff;
    cursor: pointer;
}

.nav-btn svg{
    width: 2rem;
}

.mobile-nav{
    display: none;
}
/************************/
/**** PERSONAL***********/
/************************/
.bg-image img{
    width: 100vw;
    position: absolute;
    height: 55vw;
}

.section-personal{
    /*position: relative;*/
    height: 40vw;
}

.personal{
    z-index: 999;
    position: absolute;
    max-width: 110rem;
    padding: 17rem 2rem 4rem 15rem;
    display: inline-flex;
    gap: 6rem;
}

.personal-text{
    width: 40vw;
}

.personal-head-small{
    color: #0ba830;
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-bottom: 4rem;
}

.personal-head{
    color: #fff;
    font-weight: 800;
    font-size: 4rem;
    margin-bottom: 2.4rem;
    letter-spacing: 0;
    line-height: 45px;
}

.personal-info{
    color: #00a6ff;
    font-size: 1.36rem;
    letter-spacing: 0.8px;
    line-height: 1.7;
    font-weight: 100;
    margin-bottom: 11rem;
}


/*
.personal-main{
    position: absolute;
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: 25rem;
    margin-bottom: 1.5rem;
    top: -75%;
    left: -1%;
}

.personal-main span{
    color: transpaent;
    text-transform: capitalize;
    font-size: 1.2rem;
    text-align: center;
}*/

.personal-imgs{
    display: flex;
    gap: 8rem;
    align-items: center;
    background: hsla(0,0%,100%,.08) 0 0 no-repeat padding-box;
    border-radius: 10px;
    padding-right: 2.4rem;
    z-index: 2;
    position: relative;
    width: 50vw;
}

.personal-btn{
    background-color: #0ba830;
    border-radius: 10px;
    border: none;
    padding: 1.5rem 2.3rem 1.5rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.7rem;
    font-size: 1.4rem;
    width: 29rem;
    color: #fff;
    cursor: pointer;
}

.personal-icons{
    display: flex;
    gap: 3rem;
    align-items: center;
}

.personal-icon img{
    width: 3rem;
    cursor: pointer;
}

.personal-icon img:hover{
    transform: translateY(-1rem) scale(1.2);
}

.rec:hover ~ .recurring{
    color: #fff;
}

.personal-btn svg{
    width: 2rem;
}

.personal-img{
    z-index: -1;
    position: relative;
}

.personal-img img{
    width: 125%;
}

/********************************/
/****** PERSONAL LAYER 2*********/
/*********************************/
.section-personal-2{
    padding-top: 20rem;
    background-color: #fff;
    padding-bottom: 10rem;
}

.mobile-personal,.mobile-personal-btn{
    display: none;
}

.personal-2{
    display: flex;
    gap: 17rem;
}

.personal-2-img{
    width: 50vw;
}

.personal-2-img img{
    width: 44%;
    margin-left: 26rem;
}

.personal-2-infos{
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 50vw;
    margin-right: 20rem;
}

.personal-2-icons{
    margin-left: -4vw;
    display: flex;
    align-items: center;
}

.left-icon{
    margin-right: 4.4rem;
}

.right-icon{
    cursor: pointer;
}

.personal-2-icon{
    opacity: 0.5;
    margin-right: 2rem;
}

.personal-2-icon img{
    cursor: pointer;
    width: 2.8rem;
    padding-bottom: 1rem;
}

.personal-2-icon p{
    width: 5vw;
    font-size: 1rem;
    color:#505050;
    text-transform: capitalize;
}

.scaled{
    margin-right: 3rem;
    opacity: 1;
}

.scaled p{
    font-size: 1.2rem;
}

.scaled img{
    width: 4.2rem;
    cursor: auto;
}

.personal-2-head{
    color: #002e45;
    font-weight: 700;
    font-size: 2.4rem;
    font-weight: 800;
    text-transform: capitalize;
    margin-bottom: 2rem;
}

.personal-2-text p{
    font-size: 1.55rem;
    color: #505050;
    line-height: 1.5;
    letter-spacing: 0.1px;
}

/**********************************/
/******* FOOTER ******************/
/*********************************/
.section-footer{
    background-color: #000a0f;
    position: relative;
    z-index: 99;
    padding: 3.6rem;
    padding-top: 5rem;
    width: 100%;
}

.footer-create{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 12rem;
}

.footer-head{
    color: #fff;
    font-size: 3.7rem;
    text-align: center;
}

.download{
    display: flex;
    gap: 1rem;
}

.download img{
    width: 18rem;
}

.footer-boxes{
    max-width: 107rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    column-gap: 11rem;
    padding-bottom: 3.5rem;
}

.footer-links{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.footer-link{
    color: hsla(0,0%,100%,.7);
    font-size: 1.17rem;
    text-decoration: none;
}

.footer-address{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.faded{
    font-size: 1.24rem;
    color: #5a5a5a;
    margin-bottom: 1rem;
}

.media-icon{
    display: flex;
    gap: 1rem;
}

.media-icon a img{
    width: 2rem;
}

.contact-head{
    margin-bottom: 1.7rem;
}

.mail img,.number img{
    width: 2rem;
}

.mail,.number{
    display: flex;
    gap: 1.5rem;
}

.mail-name,.num{
    color: hsla(0,0%,100%,.7);
    font-size: 1.24rem;
    text-decoration: none;
    padding-bottom: 1.5rem;
}

.reserved{
    max-width: 107rem;
    margin: auto;
}

.reserved-info{
    border-bottom: 1px solid #5a5a5a;;
}

.reserved-img{
    width: 11.6rem;
    padding: 1.7rem 0rem;
}

.reserved-text{
    padding-top: 1.7rem;
}

.message-icon{
    position: fixed;
    z-index: 123556589;
    background-color: #0071b2;
    border-radius: 50%;
    width: 4.8rem;
    height: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.06), 0 2px 32px 0 rgba(0, 0, 0, 0.16);
    bottom: 3rem;  
    right: 2rem;
}

.message-icon svg{
    width: 2.4rem;
    height: 2.4rem;
    fill: #fff; 
}